language: java
jdk:
  - oraclejdk8
env:
  global:
    - secure: "RyOQ8fUxX656+KGrZBj0tEfcD+IuC5dfdTVkfpn/ZwSXEi7v1IgJhHd6DZTOk67GbO0Gop8PFa//IMxNWtPo7nxhgvl07PNDzjQggGWI/oCfPF/9/cQUUFs7ViTTDNWLV0a3ph5d+S3uLyYyONDpgdozJi2gtiE66HK6GznbXlwb1ZxRSETteFf+dvKvEND3AzJu7EsLOpyBNuEoGBFYuKCL0qCRC0HCMxnv3+8avg7HKCQzObKbuzWWupB05RMI1bY99JcK7sTZimtQDfQPQIltKaiYDwHS3To4Ytsshg1xmbBhsq1KGEnZ/c9uAeqIQO/fHYeJ34DnUJLP2XzzYFBABg7TZrtu4yVunt/OMlFjIuyn+27q4H3NJL7kGtg7GxSAkLaNNkjSaPU0stH2Wn8j1I5LNnQOGMSzMOo3oonNZozbk7njMjn4spMxC4B2Jrestx2uGzDpdNA3XIze7ZjEJ9vk7I3jsvG0VADPYZ+DkO5AqzPYYfUWuyVm82lKdHpGcpz7VJ09kdnbDBL7wv+dDW8tqI0arrgrUk9d2AJuzitLPUs5fbjTRc4DXmMFAcTuvjOyYh+nxskkqLfd7wWv2QCRJgsdvoixyj11jj3wC/061WmKmazll2oNxAgy+Jbhg6wTYPHT/L6bIMwdbOizhQl4JetCHrVmpgofYCY="
    - secure: "IrUJ+CMf1EG3qcFHvxySbOQoSLmJN52k+gou8ywMA2nQhX75Jhl4mcSSjHN/i8nwvs6alJ3Kxx/y6tYD2KfHbw+sCocY3zYY6pMJ+OVNPBmng/aFJNAXeaAXOC+ExEZH35FLmDYTSeejLY8XJ6nEc2m3jHTIuV/A49PbQ95RTWfEJpb23R7q0YbHiXArjjQagmjE81baoA43aYPpK+gvA0rD5BrO6Cy3mjUz/tjg2tTVupQl9KDhkK4lTjlGTVxlrXC2TFNs7m10CU0J/kTVnoiLZ83Y6fOR3RZafFt0h2yqGok384x5Zv7lEAnrg1DthmZ/UC9JszM+2FnYDH0L4Sj/45iwKKK48WzxnoYEuHQf9wxmIOLqpCMLKy/mo76gb/e7NRHbGDPc3qd+rQuYK8L1wJQIUSwx0/4mA72stmhADu0daMN0Nw14lxZy2FeRJUEcH5I2ddIMwxunA6X/qsllGUasCd1tMW8rGSGsD9b4rUxTNYrO6qWa4PCCS/Z701cNHNbw1quZzsWyG1KU9Kzhr8TzP7OO0PU4J3TV5mfiida4ISI7Uo0Yg4SHS+eY72gwQ5TScSXqMrZtdcaakwhFcGN2674b34lppspPfARaeGgRL0UYv7UdMjeg0XM9wVLqklPDIqXTFTXoYZJ+s8xocYB8ckOZxNInYA/hlng="
    - secure: "AADPdLvsCcQvxq1diX9ovytbbc5JyExn1srQC+6bvyk0mGK8wK4ktBWUQVmKpKcKzh9aTh2wagF6g/Dd1x81wkqwPN8XEA8Gb9MFiVn8zaQoOB3OW56vlBoKh+QtcrJQTygyVRhnZZe+dotyMGWCev2njzevmViKXaVBZu3kPmjqsL2KS2Cdj2NSJfDcL5Xij5Q9EjGHDYviBsIoHYyi4WV35Gab17Im1wSdz2Vd88BJV1HHA41VjZcAY3nWlYPoQLBfiFDou0qROCuhi4s6SKr+ZIUKiYvy7HeC/84Oa8wBEn524y+SBTXlsBRmg/JlMlJbb4LBpy6WgD3gcwrpYPYLAfJKOax72Ii4+jJr7hs8dk8Ra35oOVouFSiQU0cTtNcqqocsgS6f18SKEbkCP2mWci3t+WZoeDoOdHMFcLIxZmnMzfiENcX1k6ZGgb21ltBt40NGX181gF4RFA0+eST0jiQ4HfZtvxefnYkF74t8AU0KewSHQS32mNbq3QcyqlKwAvdyRNF4+Maj6MNsu+KjPivmGh9fYglZgYfQmKgJEAE1owp/Q12aoV+YKoHx3iwtqStjbXuilzSZzMIOV4C7zEM3omle7Ux6surkzwRWINlR13FobYDzYBU3LVoJNg/t/Bn2b8FwoxAe29zxIBWXCtyxhM+6P8oHa/2ap/Y="
    - secure: "GjDqrRYb7jp9gzZg8EIT/MfT1BwTAyzxEN4MHubpj8dqzdEoFuhSCI12x+QtxtfapuBZbpJxaeE++MjQdXSOnAO8K5eHYehaAwO8x2VfCT6vIR/zCGl6oi6y+/qOgWRkNkzcjBNGr7kgneVMEkxldYNqaJ6+mZcgl2YibUD2Y9y+CQZm2pA7ZOQ6WzBz3Ozn6Dj1ejMpzlPOcs8xLvoQB3+8PdcLBzos2c9yTNDQStrt5a+JN203/nHrnyGgkvAr8CqZL/rLDz8A52lvxtZSu1hJU0ARZbhYzGJr9jo0r6nKtHeoK5kM1pqAmopTkahLH39YfSN5E+K1O5tt7xUV3WWWIRIm+cuCTA2Uf4l1oN2hKyy0+PHjHQxe2MSvOZ5w15Fc3w5EU4pChKALSG2SGR26FFIqhnQke6xZgmu6RWJE1ERr0EiXdxG31nPTLLQtXXfShJkwG4NTYetTaBke0dDP21DQrSCwk25HhLPDrGwxof2sFRMOww7/JO4V7RWQ5IgqSm/usCmdNMhh/FVM5wCM+JmKXXuDj5NxvPp+2fhPEDGfjK7ZiXp9WSrT78BVMSpk2f1q/7ZxQqWJ9eG+mN97+AlEtafx00Rg6FJItynQWwl3wrAy6PaEjUHAT4ygmlx+CnhPlIdILm+f4cdBc/3CW+1R0z7HBC0Q0M4kqpU="

sudo: required
install: true

services:
  - docker

cache:
  directories:
    - '$HOME/.m2/repository'

script:
- mvn -V --batch-mode -Dstyle.color=always clean verify && bash <(curl -s https://codecov.io/bash)

deploy:
  - provider: script
    script: .travis/deploy.sh
    on:
      branch: master
  - provider: script
    script: .travis/release.sh
    on:
      tags: true